<ion-header>
    <ion-navbar>
        <ion-title>
          <ion-icon name="mail" item-start></ion-icon>
           {{ 'MESSAGE' | translate }}
         </ion-title>
         <ion-buttons end>
             <button ion-button icon-only (click)="detailDevice(message.sentById)">
                 <ion-icon name="cube"></ion-icon>
             </button>
         </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Date</ion-label>
            <div item-content>
                <span>{{message.date | date:'medium'}}</span>
            </div>
        </ion-item>

        <ion-item (click)="detailDevice(message.sentById)">>
            <ion-label fixed>DevEUI</ion-label>
            <div item-content>
                <span>{{message.sentByDeveui}}</span>
                 <ion-icon name="arrow-dropright" item-end></ion-icon>
            </div>
        </ion-item>

        <ion-item>
            <ion-label fixed>Type</ion-label>
            <div item-content>
                <span>{{message.type}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Fcnt</ion-label>
            <div item-content>
                <span>{{message.fcnt}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Network</ion-label>
            <div item-content>
                <span>{{message.network}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Payload</ion-label>
            <div item-content>
              {{toHexstring(message.payload)}}
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Json</ion-label>
            <div item-content>
                <span>{{message.json}}</span>
            </div>
        </ion-item>
        <ion-item *ngIf="message.latitude">
            <ion-label fixed>Position</ion-label>
            <div item-content>
                <ion-icon name="locate" item-start (click)="map(message)"></ion-icon>
                <span>{{message.latitude}},{{message.longitude}}</span>
            </div>
        </ion-item>
        <ion-item *ngIf="message.altitude">
            <ion-label fixed>Altitude</ion-label>
            <div item-content>
                <span>{{message.altitude}} m</span>
            </div>
        </ion-item>
        <ion-item *ngIf="message.batteryLevel">
            <ion-label fixed>Battery Level</ion-label>
            <div item-content>
                <ion-icon name="battery-full" item-start></ion-icon>
                <span>{{message.batteryLevel}} %</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>message Owner</ion-label>
            <div item-content>{{message.messageOwnerLogin}}</div>
        </ion-item>
    </ion-list>

    <!-- <button ion-button block (click)="open(message)">{{ 'EDIT_BUTTON' | translate }}</button> -->
</ion-content>
